
h1{
	font-size:35px;
	font-family:impact;
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

#li {
  float: left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding:15px;
	text-decoration:none;
	font-size:25px;
		
}

li a:hover{
	background-color:blue;
}

 #grad1 {
  background-size:cover;
  height: 250px;
  background-image: url("../images/1.jpg");
}

body {
  background-size:cover;
  background-image: url("../images/3.png");
}

hr{
  border: 1.5px solid Black;
}

.text1{
	font-family:Arial;
	font-size:25px;
	
}

